<!-- Template for Menu View -->
<aside>
	<nav id='limitation'>
		<div class='draggable'>
		</div>
	</nav>
</aside>
<section>
	<ul>
		<li id='menu-Aurora'><span></span><h2>Terre</h2></li>
		<li id='menu-Earth'><span></span><h2>Savant</h2></li>
		<li id='menu-Cab'><span></span><h2>Merveille</h2></li>
		<li id='menu-Flower'><span></span><h2>Abouti</h2></li>
		<li id='menu-Earth'><span></span><h2>Beauté</h2></li>
		<li id='menu-Shell'><span></span><h2>Perfection</h2></li>
		<li id='menu-Cell'><span></span><h2>Universel</h2></li>
		<li id='menu-ADN'><span></span><h2>Unique</h2></li>
		<li id='menu-home'><h2>Home</h2></li>
	</ul>

</section>
