<!-- Template for Menu View -->
<aside>
	<nav id='limitation'>
		<div class='draggable'>
		</div>
	</nav>
</aside>
<section>
	<ul>
		<li><span></span><h2>Terre</h2></li>
		<li><span></span><h2>Savant</h2></li>
		<li><span></span><h2>Merveille</h2></li>
		<li><span></span><h2>Abouti</h2></li>
		<li><span></span><h2>Beauté</h2></li>
		<li><span></span><h2>Perfection</h2></li>
		<li><span></span><h2>Universel</h2></li>
		<li><span></span><h2>Unique</h2></li>
		<li><h2>Home</h2></li>
	</ul>

</section>
