<!-- Template for Menu View -->
<aside>
	<nav id='limitation'>
		<div class='draggable'>
			<p>drag it</p>
		</div>
		<ul id='steps'>
			<li class='step-animation step-'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
			<li class='step-menu step-animation'></li>
		</ul>
	</nav>
</aside>
<section>
	<div>
	</div>
	<ul id='ul-menu'>
		<li id='menu-Story' class='panel-menu'><span></span><h2>Ultimum Opus</h2></li>
		<li id='menu-Earth' class='panel-menu'><span></span><h2>Savant</h2></li>
		<li id='menu-Aurora' class='panel-menu'><span></span><h2>Merveille</h2></li>
		<li id='menu-Cab' class='panel-menu'><span></span><h2>Abouti</h2></li>
		<li id='menu-Flower' class='panel-menu'><span></span><h2>Beauté</h2></li>
		<li id='menu-Shell' class='panel-menu'><span></span><h2>Perfection</h2></li>
		<li id='menu-Cell' class='panel-menu'><span></span><h2>Universel</h2></li>
		<li id='menu-ADN' class='panel-menu'><span></span><h2>Unique</h2></li>
		<li id='menu-home' class='panel-menu'><h2>Accueil</h2></li>
	</ul>

</section>
