/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);


body{
    font-family: 'Playfair Display', serif;
    background: url(http://subtlepatterns.com/patterns/cartographer.png);
    color: white;
    margin: 0;
}

p{
    margin: 0;
}

a { text-decoration: none;
    color: white}


#myBtn{
    float: right;
    margin: 20px;
    font-style: italic;
}

#myBtn_2{
    float: left;
    margin: 20px 0px;
    font-style: italic;
}

.container{
    padding: 20px 0px;
}

.addCards{
    padding: 10px 90px 50px 90px;
    width: 60%;
    float: left;
}
#btnPiece{
    position: fixed;
    bottom: 0px;
    right: 0px;
}