// Config
@import 'config/config.less';

// Less file for Home View
#route {
  margin-top: 200px;
  position: absolute;
}

#home{
  margin:0;
  padding:0;
  background: url(/img/bg_home.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  .brand{
    position: absolute;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1{
      width: 100%;
      font-size: 4vw;
      text-align: center;
      .first{
        opacity:1;
        text-transform: uppercase;
        font-weight: 500;

      }
      .second{
        opacity: 0;
        font-family: "Playfair Display";
        font-style: italic;
        font-size: 3.5vw;
        position: relative;
        right: -300px;
      }
    }
  }
}

