// Config

.graph-line{
  fill: #ff003e;
  stroke-width: 2px;
  stroke: white;
}

// Less file for Home View
#route {
  margin-top: 200px;
  position: absolute;
}

#home{
  z-index: 0;
  margin:0;
  padding:0;
  position: relative;
  background: url(/img/bg_home.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  .brand{
    position: absolute;
    color: #ffffff;
    top: 40%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1{
      width: 100%;
      font-size: 4vw;
      text-align: center;
      .first{
        opacity:0;
        letter-spacing: .6vw;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        left: -100px;

      }
      .second{
        opacity: 0;
        font-family: "Playfair Display";
        font-style: italic;
        font-size: 3.6vw;
        letter-spacing: .5vw;
      }
    }
  }
  #route_home{
    top: -245%;
    left: 18%;
    width: 57%;
    position: absolute;
    z-index: 0;

    #path_home{
      z-index: 1;
      position: relative;
    }
  }
}

.disable-scroll{
  overflow-y: hidden;
}

.panel{
  width: 100%;
  height: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  //visibility: hidden;
  //overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.panel-current{
  visibility: visible;
}

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}


/* fade */

.pt-page-fade {
  -webkit-animation: fade .7s ease both;
  animation: fade .7s ease both;
}

/*paralax*/
#paralax{
  position: absolute;
  top:0;
  overflow: hidden;
  opacity: 0;

  #filter1{
    height: 100%;
    width: 150%;
    background-image: url('/img/dots.png');
    position: absolute;
    opacity: 0.3;
    margin-left: -25%;
    left:0;
    -webkit-animation: filterMovement 3.5s infinite linear;
  }

  #filter2{
    height: 1000%;
    width: 150%;
    background-image: url('/img/dots.png');
    position: relative;
    opacity: 1;
    margin-left: -23%;
    bottom: 0;
    transition: bottom 1s;
    -webkit-animation: filterMovementX 3.5s infinite linear;

  }
  #filter3{
    height: 1000%;
    width: 150%;
    background-image: url('/img/dots.png');
    position: absolute;
    opacity: 0.5;
    margin-left: -23%;
    left: -8%;
    bottom: 0;
    transition: bottom 1s;
    -webkit-animation: filterMovementInverse 3.5s infinite linear;
  }
  #effect{
    position: fixed;
    top:0;
    background-image: url('/img/effect.png');
    opacity: 0.5;
  }
}



/* KeyFrame */
@-webkit-keyframes fade {
  from { }
  to { opacity: 0.3; }
}
@keyframes fade {
  from { }
  to { opacity: 0.3; }
}

/* KeyFrame */
@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@keyframes filterMovement{
0%{margin-left:0px}
  50%{margin-left: -20px}
  100%{margin-left: 0px}
}

@keyframes filterMovementInverse{
0%{margin-left:0px}
  50%{margin-left: 20px}
  100%{margin-left: 0px}
}

@keyframes filterMovementX{
0%{margin-top:0px}
  50%{margin-top: 20px}
  100%{margin-top: 0px}
}