// Config
@import 'config/config.less';

// Less file for App View
#content {
	margin: 0px;
	height: 100%;
	width: 100%;
	padding: 0px;
	color: #000;
}

#parallax{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	min-width: 960px;
	min-height: 610px;
	overflow: hidden;
	.background{
		height: 100%;
		width: 100%;
		z-index: 1;
		position: absolute;
	}
	.filtre{
		height: 100%;
		width: 100%;
		z-index: 2;
		position: absolute;
	}
}

#Parallax {
  z-index: 200000;
  background-color: #880088;
  height: 500px;
  display: none;
  overflow: hidden;
  position: fixed;
  width: 750px;
  top: 0;
  left: 0;
  img {
	position: absolute;
	top: 0;
	left: 0;
  }
}

.m-notif{
  position: fixed;
  background: #000000;
  top: 0;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 31000;

  #txt{
	position: absolute;
	top: 45%;
	width: 100%;

	p{
	  width: 100%;
	  text-align: center;
	  padding: 15px 5px;
	  color: #ffffff;
	  font-size: 3vw;
	  z-index: 31000;
	  .first{
		letter-spacing: .6vw;
		text-transform: uppercase;
	  }
	  .second{
		font-family: "Playfair Display";
		font-style: italic;
	  }
	}
  }
}