<div id="home">
    <h1>Ready to start !</h1>
    
    <h2>Generators</h2>
    <ul>
        <li><code>yo dan:view</code> create Backbone View class (with Template, Less file and generate require module)</li>
        <li><code>yo dan:model</code> create Backbone Model class</li>
        <li><code>yo dan:collection</code> create Backbone Collection class (with Model)</li>
    </ul>

    <h2>Commands</h2>
    <ul>
        <li><code>grunt</code> to launch your project with watch and livereload</li>
        <li><code>grunt build</code> to build a deploy version of your project</li>
        <li><code>grunt seo</code> to generate seo files</li>
        <li><code>grunt seo-preprod</code> to generate seo files for preprod version</li>
    </ul>

    <h3>Enjoy coding! - Yeoman</h3>
</div>