<!-- Template for Myearth View -->
<div id="leftBlock">
    <p id="img">
        <img  src="img/masterpiece/gravi/gravi.png">
    </p>
    <p id="img_name">
        <img src="img/masterpiece/gravi/lg_gravi.png">
    </p>
</div>
<div id="rightBlock">
    <div class="txt_content">
        <div class="title_content">
            <p id="b_title">La Gravitation</p>
            <p id="l_title">( Gravitatem )</p>
        </div>
        <div id="txt">
            <p>La Lune a un rôle déterminant pour un grand nombre d’espèces, un grand nombre d’espèces marine dépend des marées que le satellite naturel de la terre provoque.
            L’ensemble de la vie s’est articulé autour de l’influence gravitationnelle qu’exerce la lune sur la terre.</p>
        </div>
        <div id="leftDiEarth" data-feature="savant" class="btn-svg btnDiscover leftBtn">
            <a href="">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg class="svg-draw" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0%" y="0%" width="100%" height="100%" enable-background="new 0 0 500 500" xml:space="preserve">
                            <line class="top" x1="0" x2="300%" y1="0" y2="0" />
                            <line class="left" x1="0" y1='100%' x2="0" y2="-300%"/>
                            <line class="bottom" x1="100%" y1='100%' x2='-300%' y2='100%'/>
                            <line class="right" x1="100%" y1='0' x2="100%" y2="400%"/>
                        </svg>

                <h2>Déceler le secret des fleurs</h2>
            </a>
        </div>
    </div>
</div>