<svg version="1.1" id="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
		<path fill="none" stroke="white" stroke-linecap="round" stroke-miterlimit="10" d="M13,13l14.2,14.2 M27,13L13,27"/>
		<g>
			<path stroke="white" d="M20,1c10.5,0,19,8.5,19,19s-8.5,19-19,19S1,30.5,1,20S9.5,1,20,1 M20,0C9,0,0,9,0,20s9,20,20,20s20-9,20-20S31,0,20,0L20,0
				z"/>
		</g>
	</svg>
<p id="title" class="second">À propos</p>
<p id="text">
    Ultimum Opus est le fruit du travail d’un groupe d’étudiants de l’école d’Hétic. Celui-ci est composé de Maxime Berthelot, Paul Boiseau, Victor Chartier, Alexis Delvaque, Clara Rua et Giovanni Xu.
    <br><br>
    Ultimum Opus est une expérience qui a pour dessein de nous réapprendre à ouvrir les yeux sur la beauté des éléments originels, purs, natifs qui nous entourent. Il a également pour ambition de justifier chacune de ces beautés, manifestations, entités singulières.
    <br><br>
    Ces chefs d’oeuvres naturels se trouvent partout autour de nous, ils nous faut les (re)découvrir sur Terre et dans le reste de l’univers. La mission Rosetta n’est que le début de cette odysée.
</p>
<div class="rs">
    <a href="http://twitter.com/share?url=http://ultimumopus.maximeberthelot.fr&text=UltimumOpus" target="_blank">
        <img src="/img/tw.png">
    </a>
    <a href="http://www.facebook.com/sharer.php?s=100&p[title]=UltimumOpus&p[url]=http://www.ultimumopus.maximeberthelot.fr&p[summary]=discovertheworld" target="_blank">
        <img src="/img/fb.png">
    </a>
</div>
<div class="team">
   <p>Maxime Berthelot</p>
   <p>Paul Boiseau</p>
    <p>Victor Chartier</p>
    <p>Alexis Delvaque</p>
    <p>Clara Rua</p>
    <p>Giovanni Xu</p>
</div>