// Less file for Mystory View
#route_home{
  top: 35.5%;
  left: 0%;
  width: 94%;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  opacity: 0;

  #path_home{
    z-index: 1;
    position: relative;
  }
}


#Story{
  position: relative;
  z-index: 100;
}

@media  (min-height: 1100px) {
  #route_home {
    top: 51%;
    left: 0%;
    width: 94%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    opacity: 0;
  }
}

@media  (min-height: 955px) {
  #route_home {
    top: 42.5%;
    left: 0%;
    width: 94%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    opacity: 0;
  }
}