// Less file for Mystory View
#route_home{
  top: 35.5%;
  left: 0%;
  width: 94%;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  opacity: 0;

  #path_home{
    z-index: 1;
    position: relative;
  }
}
.myEnd{
  background: #090B14;
  #topFinish{
    z-index: 100;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    background: url(/img/bg_finish.png) no-repeat center;
    background-size: cover;
  }
}


@media  (min-height: 1100px) {
  #route_home {
    top: 51%;
    left: 0%;
    width: 94%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    opacity: 0;
  }
}


#endTxt{
  position: absolute;
  top: 50%;
  font-family: "Playfair Display";
  width: 100%;
  opacity: 1;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1675px){
  #route_home {
    top: 45.5%;
    left: 0%;
    width: 94%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    opacity: 0;
  }
}
@media (min-height: 955px) {
  #anim-shell {
    position: absolute;
    top: 33.6%;
    left: 24%;
    opacity: .8;
    width: 16%;
    -webkit-transform: rotate(10deg);
  }

  #Cab .LContentCab #leftBlock #img {
    margin: 0;
    padding: 0;
    left: 35%;
    width: 60%;
    top: 34.6%;
    opacity: .7;
    position: relative;
    height: auto;
    z-index: 2;
  }

  #svg-cab {
    position: absolute;
    top: 43.5%;
    left: 16.6%;
    width: 31.4%;
  }
}

@media (min-width: 1900px) {


  #route_home {
    top: 15.5%;
    left: 0%;
    width: 89%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    opacity: 0;
  }

  #anim-shell {
    position: absolute;
    top: 32%;
    left: 22.5%;
    opacity: .8;
    width: 15%;
    -webkit-transform: rotate(-7deg);
  }

  #Flower .RContentFlw #rightBlock {
    width: 50%;
    padding: 3.5% 0px;
    position: relative;
    height: 100%;
    float: left;
    left: 0.5%;
  }

  #Cab .LContentCab #leftBlock #img {
    margin: 0;
    padding: 0;
    left: 38.95%;
    width: 48%;
    top: 8%;
    opacity: .7;
    position: relative;
    height: auto;
    z-index: 2;
  }

  #Shell .LContentShell #leftBlock #img {
    margin: 0;
    padding: 0;
    left: 26.95%;
    width: 60%;
    top: 7%;
    opacity: .7;
    position: relative;
    height: auto;
    z-index: 2;
  }

  #Cab .LContentCab #leftBlock #img_name {
    text-align: center;
    width: 40%;
    height: 20%;
    z-index: 1;
    top: 28%;
    right: 50%;
    position: absolute;
  }

  #svg-cab {
    position: absolute;
    top: 18.5%;
    left: 17.4%;
    width: 27.2%;
  }

  #Earth .LContentEarth {
    width: 100%;
    height: 90%;
    top: -9%;
    position: relative;
  }
}