// Less file for Mystory View
#route_home{
  top: 35%;
  left: 0%;
  width: 94%;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  opacity: 0;

  #path_home{
    z-index: 1;
    position: relative;
  }
}

#Story{
  position: relative;
  z-index: 100;
}
