@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

body{
  margin: -21px 0px;
  padding: 0px;
  font-family: 'Avenir Next';
  background: #000410;
  font-size: 3vw;
}

#main{
}

#car_title{
  font-size: 3vw;
  text-align: left;
  color: #ffffff;
  top: 12%;
  letter-spacing: .2vw;
  margin: 0;
  position: relative;
  left: 32.5%;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.9);
}

p{
  padding: 0;
  margin: 0;
}

.svg-wrapper {
  transform: translateY(-50%);
  margin: 0 auto;
  cursor: pointer;
  width: 40%;
  height: 25px;
  float: left;
}

.btnDiscover{
  position: absolute;
  font-style: italic;
  font-family: "Playfair Display";
  bottom: 0px;
  height: 7.5%;
  margin-top: 10px;
  /*padding: 2% 0px 2% 0px;*/
  cursor: pointer;
  text-align: center;
  font-size: .6vw;
}

.btn-svg{
  transform:translate(-50%,-50%);
}

.btn-svg h2{
  width: 100%;
  position: absolute;
  color: #696a70;
  margin: 0px;
  padding: 1px 1px 3px 1px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
}
.btn-svg:hover h2{
  color: white;
}


.btn-svg svg{
  height: 100%;
  width: 100%;
}

.btn-svg line{
  stroke: #696a70;
  stroke-width: 3;
}

.top{
  stroke-dasharray: 150% 100%;
  transition: all 1s;
}

.bottom{
  stroke-dasharray: 150% 100%;
  transition: all 1s;
}
.left{
  stroke-dasharray: 30% 10%;
  transition: all 1s;
}
.right{
  stroke-dasharray: 30% 10%;
  transition: all 1s;
}
.btn-svg:hover .top{
  -webkit-transform: translateX(-60%);
}
.btn-svg:hover .bottom{
  -webkit-transform: translateX(45%);
}
.btn-svg:hover .left{
  -webkit-transform: translateY(60%);
}
.btn-svg:hover .right{
  -webkit-transform: translateY(-60%);
}

.btn-svg:hover line{
  stroke: white;
}


.txt_content {
  float: right;
  text-align: justify;
  .title_content {
    font-style: italic;
    #b_title {
      color: #ffffff;
      font-family: "Playfair Display";
      font-weight: 500;
      padding: 0;
      margin: 0;
      font-size: 2.2vw;
    }
    #l_title {
      padding: 5px 0px;
      margin: 0;
      color: rgba(202, 202, 202, 0.52);
      font-weight: 100;
      font-size: 1.1vw;
      font-style: italic;
      float: right;

    }
  }
  #txt {
    color: #ffffff;
    width: 85%;
    padding: 10% 0px;
    font-weight: 100;
    p {
      padding: 2.5% 0px;
      font-size: 1vw;
      line-height: 1.85vw;
    }
  }
}

.panel{
  z-index: 1;
}

