<div id="leftBlock">
    <p id="img">
        <img id='animated-adn' src="img/masterpiece/adn/adn (1).png">
    </p>
    <p id="img_name">
        <img src="img/masterpiece/adn/lg_adn.png">
    </p>
</div>
<div id="rightBlock">
    <div class="txt_content">
        <div class="title_content">
            <p id="b_title">L'ADN</p>
            <p id="l_title">( Acide désoxyribonucléique )</p>
        </div>
        <div id="txt">
            <p>
                L’acide désoxyribonucléique est une molécule présente dans toutes les cellules vivantes. La nature a voulu que celle ci renferme l’ensemble des informations déterminantes du développement et du fonctionnement d’un organisme.
            </p>
            <p>
                S’il n'existe pas de modèle « standard » pour décrire l'origine de la vie ou l’apparition de la première alliance de nucléotides, l’ADN est universellement l’origine commune l’ensemble des êtres vivants.
            </p>
        </div>
        <div id="leftDiADN" data-feature="unique" class="btn-svg btnDiscover leftBtn">
            <a href="">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg class="svg-draw" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0%" y="0%" width="100%" height="100%" enable-background="new 0 0 500 500" xml:space="preserve">
                        <line class="top" x1="0" x2="300%" y1="0" y2="0" />
                        <line class="left" x1="0" y1='100%' x2="0" y2="-300%"/>
                        <line class="bottom" x1="100%" y1='100%' x2='-300%' y2='100%'/>
                        <line class="right" x1="100%" y1='0' x2="100%" y2="400%"/>
                    </svg>
                <h2>Découvrir le géni des mécanismes de l’ADN</h2>
            </a>
        </div>
    </div>
</div>