<div id="leftBlock">
    <p id="car_title">perfection</p>
    <p id="img">
        <img src="img/masterpiece/nautilus/nautilus.png">
    </p>
    <p id="img_name">
        <img src="img/masterpiece/nautilus/border.png">
    </p>
</div>
<div id="rightBlock">
    <div class="txt_content">
        <div class="title_content">
            <p id="b_title">Le Coquillage</p>
            <p id="l_title">( Nautulis )</p>
        </div>
        <div id="txt">
            <p>Le faux-texte (également appelé lorem ipsum, lipsum) est, en imprimerie, un texte sans valeur sémantique, permettant de remplir des pages lors d'une mise en forme afin d'en calibrer le contenu en l'absence du texte définitif.</p>
            <p>Généralement, on utilise un texte en faux latin (le texte ne veut rien dire, il a été modifié), le Lorem ipsum ou Lipsum, qui permet donc de faire  office de texte d'attente. </p>
        </div>
        <p class="btnDiscover">Découvrir Nautulis</p>
    </div>
</div>