#rightSidebar{
  width: 60%;
  position: fixed;
  height: 100%;
  background: #ffffff;
  top: 0px;
  right: -70%;
  z-index: 11000;
}

.content_right{
  #close{
	width: 25px;
	position: absolute;
	left: 5%;
	top: 3%;
	cursor: pointer;
  }
}

.masterpiece{
  height: 100%;
  margin: 0 auto;
  padding-left: 15%;
  padding-right: 15%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 70%;
  .masterpiece-content{
	position: relative;
	padding-top: 2%;
	height: 400px;
	width: 100%;
	top: 0%;
	left: 0%;
	overflow: scroll;
  }
  #ctnImg {
	height: 345px;
	position: relative;
	width: 100%;
	left: 0%;
	padding-top: 7%;
	background: white;
	#bg {
	  height: 100%;
	  width: auto;text-align: center;
	  img {
		height: 100%;
		width: auto;
		position: relative;
	  }
	}
  }

  .title{
	text-align: left;
	width: 100%;
	font-size: 1.7vw;
	position: relative;
  }

  .legend{
	font-size: 1vw;
	font-style: italic;
	text-align: justify;
	line-height: 1.8;
	padding: 4%;
	font-family: Playfair Display;
  }
  .text{
	font-size: 1vw;
	text-align: justify;
	line-height: 1.7;
	overflow: auto;
  }
}

#leftSidebar{
  width: 60%;
  position: fixed;
  height: 100%;
  background: #ffffff;
  top: 0px;
  left: -70%;
  z-index: 11000;
  .content_left{
	#close{
	  width: 25px;
	  position: absolute;
	  right: 5%;
	  top: 3%;
	  cursor: pointer;
	}
	.masterpiece{

	}
  }
}

  .filtre {
	background: url('img/grad.png') repeat-x;
	width: 100%;
	position: absolute;
	bottom: -10%;
	height: 50px;
	z-index: 100;
  }

  .filtre_bot{
	background: url('img/grad.png') repeat-x;
	width: 0%;
	position: absolute;
	bottom: -2%;
	height: 50px;
	z-index: 100;
	transform: rotate(180deg);
  }