#rightSidebar{
  width: 60%;
  position: fixed;
  height: 100%;
  background: #ffffff;
  top: 0px;
  right: -70%;
  z-index: 11000;
}

.content_right{
	height: 100%;
}

.masterpiece{
	height: 100%;
	margin: 0 auto;
	padding-left: 15%;
	padding-right: 15%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 70%;
	.masterpiece-content{
		padding-top: 50%;
	}
	.title{
		text-align: left;
		h1{
			font-size: 0.5em;
			text-transform: uppercase;
		}
	}
	.legend{
		font-size: 0.3em;
		font-style: italic;
		text-align: center;
		line-height: 0.8;
	}
	.text{
		font-size: 0.3em;
		text-align: justify;
	}
}